<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8a06f43b-a9dc-489d-a35a-8531fb8bc7d2/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/webapp20240419220123</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapp20240419220123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9c504368-00c2-491c-8318-3716f0c8b21d</ProjectGuid>
    <PublishUrl>https://webapp20240419220123.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp20240419220123</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>