<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://webapp20240422222307.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/8a06f43b-a9dc-489d-a35a-8531fb8bc7d2/resourcegroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/webapp20240422222529</ContainerResourceId>
    <ContainerResourceName>webapp20240422222529</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>webapp20240422222529.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8a06f43b-a9dc-489d-a35a-8531fb8bc7d2/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/webapp20240422222307</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapp20240422222307.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9c504368-00c2-491c-8318-3716f0c8b21d</ProjectGuid>
  </PropertyGroup>
</Project>